body {
    margin: 0;
    background-color: #F8F8F8;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('Resources\Font\Euclid Circular A Regular.ttf');
}

.header {
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 5px 50px 5px 50px;
    background: #FFFFFF;
    box-shadow: 0px 18px 24px rgba(208, 210, 218, 0.15);
    border-radius: 0px 0px 24px 24px;
}

.header-list {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 180px;
}

.header-list li {
    list-style: none;
    font-family: 'Euclid Circular A', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #2B2B2B;
    transition: all 400ms;
}

.header-list li:hover {
    color: #F47C20;
    cursor: pointer;
}

.list-container {
    width: 100%;
}

.left-sidebar {
    z-index: -1;
    position: fixed;
    top: 0;
    background: #FFFFFF;
    box-shadow: 18px 0px 24px rgb(208 210 218 / 15%);
    border-radius: 0px 20px 20px 0px;
    width: 18%;
    height: 100vh;
    padding: 100px 10px 0 10px;
}

.left-sidebar ul {
    padding-inline-start: 0;
    padding-right: 30px;
}

.left-sidebar ul li {
    list-style: none;
    margin: 0 0 25px 0;
    padding: 25px 30px 25px 30px;
    font-family: 'Euclid Circular A', sans-serif;
    font-size: 1.1rem;
    color: #2B2B2B;
    border-radius: 20px;
}

.left-sidebar .sb-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 400ms;
}

.left-sidebar .sb-items div,
.left-sidebar .sb-items .arrow-icon path {
    transition: all 400ms;
}

.left-sidebar .sb-items:hover {
    cursor: pointer;
    background-color: #FFF4EC;
}

.left-sidebar .sb-items:hover div {
    color: #F47C20;
}

#svg-div {
    transition: all 400ms;
}

/* .left-sidebar .sb-items:hover #svg-div {
    transform: rotate(-180deg)
} */

.active {
    transform: rotate(-180deg)
}

.left-sidebar .sb-items:hover .arrow-icon path {
    stroke: #F47C20;
}